
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap'); */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.outerbox {
    width: 100vw;
    height: 100vh;
    background-color:rgba(127, 255, 251, 0.844);
}

.innerbox {
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%); 
    padding: 20px 40px;
    /* border: 2px solid red; */
    border-radius: 8px;
    background-color: white;
    box-shadow: 4px 4 px 5px aquamarine;

   

}
body{
    font-family: 'Lato', sans-serif;
}
.SignUp-header h1{
    font-size: 2.5rem;
    color: #212121;
}
.SignUp-header p{
    font-size: 1rem;
    color: #555;
}
.SignUp-body{
    margin: 20px 0px;
}
.SignUp-body p{
    margin: 10px 0px;
}
.SignUp-body label{
    display: block;
    font-weight: bold;

}
.SignUp-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 4px;

}
.SignUp-body p input[type="submit"]{
    background-color: aquamarine;
    border: none;
    color:black;
}
.SignUp-body p input[type="submit"]:hover{
    cursor: pointer;
    color: red;
}
.SignUp-footer p{
    color: #555;
    text-align: center;
}
.SignUp-footer p a{
    color: aqua;
}
h4{
    color:red;
}